/* @import './base.css'; */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;400;500&display=swap');
@import 'datatables.net-dt';


/* VARIABLES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* VARIABLES */
:root {
  --primary-color:#42b883;
  --panel-color:#FFF;
  --text-color:#000;
  --black-ligth-color:#707070;
  --border-color:#e6e5e5;
  --toggle-color:#DDD;
  --box1-color:#3a86ff;
  --box2-color:#ffbe0b;
  --box3-color:#1DB954;
  --title-icon-color:#fff;

  --tran-05:all 0.5s ease;
  --tran-03:all 0.3s ease;
  --tran-04:all 0.4s ease;

  --secondary-color:rgb(61, 68, 73);
  --highlight-color:#3282b8;

  --available-color:#15d67f;
  --away-color:#ffb627;
  --offline-color:#3a86ff;

  --dt-padding: 12px;
  --dt-padding-s: 6px;
  --dt-padding-xs: 2px;

  --dt-border-radius: 5px;


  --dt-background-color-container:#2a3338;
  --dt-border-color:var(--secondary-color);
  --dt-bg-color: var(--highlight-color);
  --dt-text-color: var(--primary-color);
  --dt-bg-active-button: var(--highlight-color);
  --dt-text-color-button: var(--primary-color);
  --dt-text-color-active-button: var(--primary-color);
  --dt-hover-cell-color: var(--highlight-color);
  --dt-even-row-color:var(--secondary-color);
  --dt-focus-color: var(--highlight-color);
  --dt-input-background-color:var(--secondary-color);
  --dt-input-color:var(--primary-color);
}

body{
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.icono-dash{
  z-index: 1;
}

/* COLOR SOMBREADO */
::selection {
  background: #00aa3c; 
}
/* SCROLL COLOR */
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(0, 0%, 93%);
}
::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: hsl(202, 6%, 63%);
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsl(207, 8%, 44%);
}

/* SCROLL DARK */
body.dark::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: #6c6c6d;
}
body.dark::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #323233;
}
body.dark::-webkit-scrollbar-thumb:hover{
  background-color: #212122;
}

body.dark{
  --primary-color:#3A3B3C;
  --panel-color:#242526;
  --text-color:#CCC;
  --black-ligth-color:#CCC;
  --border-color:#4D4C4C;
  --toggle-color:#FFF;
  --box1-color:#3A3B3C;
  --box2-color:#3A3B3C;
  --box3-color:#3A3B3C;
  --title-icon-color:#CCC;

  background: var(--panel-color);
}

/* NAV  */
nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: var(--panel-color);
  border-right: 2px solid var(--border-color);
  transition: var(--tran-05);
  color: #000;
}
nav.close{
  width: 70px;
}

.formkit-wrapper {
  max-width: 100%;
}

nav .logo-name{
  display: flex;
  align-items: center;
  font-family: 'Bebas Neue', sans-serif;
 
}
nav .logo-image{
  display: flex;
  justify-content: center;
  min-width: 45px;
}
body.dark nav .logo-image{
  filter: invert(100%);
}
nav .logo-image img{
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}


nav .logo-name .logo_name{
  margin-left: 5px;
  font-size: 35px;
  color: var(--text-color);
  transition: var(--tran-05) ;

} 

nav .menu-items{
  margin-top: 40px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-items li{
  list-style: none;
  transition: .10s all ease;
}

.menu-items li a{
  display: flex;
  align-items: center;
  height: 60px;
  text-decoration: none;
  
  
}
.menu-items li a i{
 font-size: 24px;
 min-width: 45px;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
  color: var(--black-ligth-color);
  transition: .10s ease-in all;
  
}


.menu-items li a .link-name{
  font-size: 16px;
  font-weight: 500;
  color: var(--black-ligth-color);
  transition: var(--tran-05);
  
}

nav.close li a .link-name{
  opacity: 0;
  pointer-events: none; 
}
nav.close .logo_name{
  opacity: 0;
  pointer-events: none; 
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name{
  color: var(--primary-color);
  transition: .10s ease-in all;
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
  color: #42b883;
}

.menu-items .mode{
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.menu-items .logout-mode{
  /* padding: 15px; */
  border-top: 1px solid var(--border-color);

}

.menu-items .mode-toggle{
  position: absolute;
  right: 14px;
  height: 50px;
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mode-toggle .switch{
  position: relative;
  display: inline-block;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
}

.switch:before{
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: var(--panel-color);
  border-radius: 50%;
  transition: var(--tran-03);
}

body.dark .switch:before{
  left: 20px;
}


/* CONTENT */

.top .boton_burguer{
  background-color: transparent;
  border: none;
  
  
}
.top .boton_burguer:hover i{
 color: #15d67f;
 transition: .3s all ease;
}
.dashboard{
  position: relative;
  left: 250px;
  background-color: var(--panel-color);
  height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px ;
  transition: var(--tran-05);
}

nav.close ~ .dashboard{
  left: 70px;
  width: calc(100% - 73px);

}
.dashboard .top{
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px ;
  background:var(--panel-color);
  transition: var(--tran-05);
  z-index: 2;
  /* border-bottom:  2px solid var(--border-color); */
}

nav.close ~ .dashboard .top{
  left: 70px;
  width: calc(100% - 73px);

}
.dashboard .top .sidebar-toggle{
  font-size:26px;
  color: var(--text-color);
  cursor: pointer; 
}

.dashboard .top .search-box{
  position: relative;
  height: 45px;
  max-width: 600px;
  width: 100%;
  margin: 0 30px;
}

.top .search-box input{
  position: absolute;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  padding: 0 25px 0 50px;
  border-radius: 5px ;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  outline: none;
}

.top .search-box input:focus{
  outline: 3px solid var(--primary-color);
}
body.dark .top .search-box input:focus{
  outline: 3px solid var(--primary-color);
}

.top .search-box i{
  position: absolute;
  left: 15px;
  font-size: 22px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black-ligth-color);
}

.top img{
  width: 45px;
  border-radius: 50%;
}

.dashboard .dash-content{
  padding-top: 50px;
}

.dash-content .title{
  display: flex;
  align-items: center;
  margin: 60px 0 30px 0;
  font-family: 'Poppins' , arial;
}

.dash-content .title i{
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--primary-color);
  border-radius: 6px;
  color: var(--title-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.dash-content .title .text{
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
}

.dash-content .boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dash-content .boxes .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  width: calc(100% / 3 - 15px);
  padding: 15px 20px;
  background-color: var(--box1-color);
  transition: var(--tran-05);

}

.boxes .box .text{
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}
.boxes .box .number{
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
}

.boxes .box i{
  font-size: 35px;
  color: var(--text-color);
}

.boxes .box.box2{
  background-color: var(--box2-color);
}
.boxes .box.box3{
  background-color: var(--box3-color);
}

.activity{
  overflow-x: auto;
}
.dash-content .activity .activity-data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.activy-data .data-title{
  font-size: 20px;
  font-weight: 500;
}

.tooltip {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px;
border: 0px solid transparent;
background-color: #d62828;
border-radius: 8px;
color: #dad9d9;
font-size: 18px;
transition: all 0.2s linear;
cursor: pointer;
}
.editar {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px;
border: 0px solid transparent;
background-color: #fb8500;
border-radius: 8px;
color: #dad9d9;
font-size: 18px;
transition: all 0.2s linear;
cursor: pointer;

 }
.tooltip:hover{
  background-color: #9c1010;
} 
.editar:hover{
  background-color: #d37101;
}

/* TABLA */
body.dark .datatable-container{
    background-color: var(--primary-color);
    border-radius: var(--dt-border-radius);
    color: var(--dt-text-color);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.datatable-container{
    background-color: #f3f3f3;
    border-radius: var(--dt-border-radius);
    color: #161616;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 13.5px;

}

bode.dark .datatable-container .header-tools{
    border-bottom: solid 1px var(--dt-border-color);
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}
.datatable-container .header-tools{
    border-bottom: solid 1px #adb5bd;
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}
body.dark .datatable-container .header-tools{
  border-bottom: solid 1px #504f4f;
}

.datatable-container .header-tools .search{
    width: 30%;
}
.datatable-container .header-tools .search .search-input{
    width: 100%;
    padding: 10px;
    background-color: var(--panel-color);
    display: block;
    border-radius: var(--dt-border-radius);
    border: none;
    color: var(--dt-input-color);
}
.datatable-container .header-tools .search .search-input:focus{
  outline: 1px solid #1DB954;
}

.datatable-container .header-tools .tools{
    width: 70%;
}

.datatable-container .header-tools .tools ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: center;
}

.datatable-container .header-tools .tools ul li{
   display: inline-block;
   margin: 0 var(--dt-padding-xs);
    align-items: center;
}
.datatable-container .header-tools .tools ul li.check{
  margin-top:5px;
}
.datatable-container .header-tools .tools ul li i{
   font-size: 17px;
   color: #999;
   transition: 0.3s all ease;
}

.datatable-container .footer-tools{
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}
.datatable-container .footer-tools .list-items{
   width: 50%;
}
.datatable-container .footer-tools .pages{
   margin-left: auto;
   margin-right: 0;
   width: 50%;
}
.datatable-container .footer-tools .pages ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}
.datatable-container .footer-tools .pages ul li{
    display: inline-block;
    margin: 0 var(--dt-padding-xs);
}

.datatable-container .footer-tools .pages ul li button,
.datatable-container .header-tools .tools ul li button{
    color: var(--dt-text-color-button);
    width: 100%;
    border: 0;
    border-radius: var(--dt-border-radius);
    background: transparent;
    cursor: pointer;
    transition: 0.3s all ease;
}

.datatable-container .footer-tools .pages ul li button.topi,
.datatable-container .header-tools .tools ul li button.topi{
    color: #FFF;
    width: 100%;
    border: 0;
    border-radius: var(--dt-border-radius);
    background: #00aa3c;
    cursor: pointer;
    transition: 0.3s all ease;
    font-weight: 600;
    font-size: 15px;
    padding: 11px 16px;

}
.datatable-container .footer-tools .pages ul li button:hover,
.datatable-container .header-tools .tools ul li button:hover{
  background: #1DB954;
  
}
.datatable-container .header-tools .tools ul li button:hover i{
  color: #212122;
}

.datatable-container .footer-tools .pages ul li button.active{
   background: #1DB954;
   color:#212122;
}

.datatable-container .footer-tools .pages ul li button,
.datatable-container .footer-tools .pages ul li span,
.datatable-container .header-tools .tools ul li button{
    padding: var(--dt-padding-s) var(--dt-padding);
}

/* TABLA */

.datatable-container .datatable{
    border-collapse: collapse;
    width: 100%;
}

.datatable-container .datatable, 
.datatable-container .datatable th, 
.datatable-container .datatable td{
    padding: var(--dt-padding) var(--dt-padding);
}

body.dark .datatable-container .datatable th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px #504f4f;
}

.datatable-container .datatable th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px #adb5bd;
}

.datatable-container .datatable td{
  border-bottom: solid 1px #adb5bd;
}

body.dark .datatable-container .datatable td{
    border-bottom: solid 1px var(--dt-border-color);
}

.datatable-container .datatable tbody tr:nth-child(even){
    background-color: #babcbe;
}

body.dark .datatable-container .datatable tbody tr:nth-child(even){
    background-color: #4e4f50;
}

.datatable-container .datatable tbody tr{
    transition: 0.2s all ease;
    color: #161616;
}
body.dark .datatable-container .datatable tbody tr{
    transition: 0.2s all ease;
    color: #fff;

}

.datatable-container .datatable tbody tr:hover{
    background-color: #2dc261;
}
body.dark .datatable-container .datatable tbody tr:hover{
    background-color: #2dc261;
}

.datatable-container .datatable tbody tr .available::after,
.datatable-container .datatable tbody tr .away::after,
.datatable-container .datatable tbody tr .offline::after{
    display: inline-block;
    vertical-align: middle;
}


.datatable-container .datatable tbody tr .available::after{
    content: 'Available';
    color: var(--available-color);
}
.datatable-container .datatable tbody tr .away::after{
    content: 'away';
    color: var(--away-color);
}
.datatable-container .datatable tbody tr .offline::after{
    content: 'offline';
    color: var(--offline-color);
}

.datatable-container .datatable tbody tr .available::before,
.datatable-container .datatable tbody tr .away::before,
.datatable-container .datatable tbody tr .offline::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
}

.datatable-container .datatable tbody tr .available::before{
    background-color: var(--available-color);
}
.datatable-container .datatable tbody tr .away::before{
    background-color: var(--away-color);
}
.datatable-container .datatable tbody tr .offline::before{
    background-color: var(--offline-color);
}

/* .bunttons{
  width: 50%;
} */

/* FORMULARIO */
.button_form{
  font-family: 'Poppins', arial;
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.50rem;
  padding-right: 1.50rem;
  background-color: #1DB954;
  color: #fff;
  font-size: 0.990rem;
  font-weight: 500;
  width: 50%;
  border-radius: 0.5rem;
  transition: 0.3s all ease;
  margin-top: 1rem;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.button_form:hover{
    background-color: #00aa3c; 
    cursor: pointer;
}
.button_form-volver{
  font-family: 'Poppins', arial;
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.50rem;
  padding-right: 1.50rem;
  background-color: #fca311;
  color: #fff;
  font-size: 0.990rem;
  font-weight: 500;
  width: 50%;
  border-radius: 0.5rem;
  transition: 0.3s all ease;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

i.edit-table{
  color: #eeeeee;
  background-color: #fca311;
  padding: 9px;
  border-radius: 3px;
  font-size: 17px;
  cursor: pointer;
}
i.delete-table{
  color: #eeeeee;
  background-color: #d62828;
  padding: 9px;
  border-radius: 3px;
  font-size: 17px;
  cursor: pointer;
}

.button_form-volver:hover{
    background-color: #f79800; 
    cursor: pointer;
}
.container_form1{
    position: relative;
    max-width: 1100px;
    width: 100%;
    background: #FFF;
    padding: 40px;
    border-radius: 8px;
    border: 1px solid #d1cece;
    color: #161616;
    margin:0 auto ;
    
    

}
.container_form1 input{
    width: 100%;
    
    

}
body.dark .container_form1{
    position: relative;
    max-width: 1100px;
    width: 100%;
    background: #3A3B3C;
    padding:  40px;
    border-radius: 8px;
    border: none;
    color: #ccc8c8;
    margin: 0 auto;
}

.container h1{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.container .form{
   margin-top: 30px; 
}

body.dark .form .input-box{
    width: 100%;
    margin-top: 20px;
    background: #3A3B3C;
}
.form .input-box{
    width: 100%;
    margin-top: 20px;
    background: #FFF;
}

.input-box label{
    color: #161616;
}
body.dark .input-box label{
    color: #b4b4b4;
}

body.dark .form input {
    color: #c4c4c4;
    border: none;
}
.form input {
    color: #727070;
    border: 1px solid #c0bebe;
}

body.dark .form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    margin-top: 8px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #c4c4c4;
    border: 1px solid #ccc8c8;
    border-radius: 6px;
    padding-left: 10px;
    background: #454647;
  border: 1px solid #636363;
}
.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    margin-top: 8px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #c4c4c4;
    border: 1px solid #d1cece;
    border-radius: 6px;
    padding-left: 10px;
    background: #f8f9fa;
  border: 1px solid #636363;
}

.column{
   display: flex;
   column-gap: 13px; 
   width: 100%;
}

.form :where(.gender-option, .gender){
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
    color: #727070;
}

.form .gender{
    column-gap: 5px;
}

.form :where(.gender input, .gender label){
    cursor: pointer;
}

.addres :where(input, .select-box){
    margin-top: 20px;
}

.form .gender-box{
    margin-top: 20px;
    color: #727070;
    
}

.gender-box h3{
    color: #727070;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

body.dark .select-box select{
    height: 100%;
    width: 99%;
    outline: none;
    border: none;
    color: #c4c4c4;
    font-size: 1rem;
    background: #454647;
}
.select-box select{
    height: 100%;
    width: 99%;
    outline: none;
    border: none;
    color: #646161;
    font-size: 1rem;
    background: #FFF;
    border: none;
}
.input-box .column{
    width: 100%;
}

/* RESPONSIVE */

@media screen and (max-width: 500px){
    .form .column{
        flex-wrap: wrap;
    }

    .form :where(.gender-option, .gender){
        row-gap: 15px;
    }
}



/* LOGIN */
.login_body{
  background: #242526 ;
}
.contenedor_login{
  display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}
.form-container {
  width: 320px;
  border-radius: 0.75rem;
  background-color: #424242;
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
  margin:auto; 
  
}

.title {
  text-align: center;
  font-size: 3rem;
  line-height: 2rem;
  font-family: 'Bebas Neue', sans-serif;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: rgb(152, 158, 167);
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #242526;
  outline: 0;
  background-color: #242526;
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
  border-color:  var(--primary-color);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175,1);
  margin: 8px 0 14px 0;
}

.forgot a,.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover, .signup a:hover {
  text-decoration: underline  var(--primary-color);
}

.sign {
  display: block;
  width: 100%;
  background-color: var(--primary-color);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  transition: .3s ease all ;
}

.sign:hover{
  background-color: #2dc261;
  cursor: pointer;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

@media (max-width: 1000px) {
  nav{
      width: 73px;
  }
  nav.close{
      width: 250px;
  }

  nav .logo_name{
      opacity: 0;
      pointer-events: none;
  }
  nav.close .logo_name{
      opacity: 1;
      pointer-events: auto;
  }

  nav li a .link-name{
      opacity: 0;
      pointer-events: none;
  }
  nav.close li a .link-name{
      opacity: 1;
      pointer-events: auto;
  }

  nav ~ .dashboard{
      left: 73px;
      width: calc(100% - 73px);
  }
  nav.close ~ .dashboard{
      left: 250px;
      width: calc(100% - 250px);
  }

  nav ~ .dashboard .top {
      left: 73px;
      width: calc(100% - 73px);
  }
  nav.close ~ .dashboard .top {
      left: 250px;
      width: calc(100% - 250px);
  }
 
}

@media (max-width: 780px){

  .dash-content .boxes .box{
      width: calc(100% / 2 - 15px);
      margin-top: 15px;
  }

  .column{
    display: block;
    column-gap: 13px; 
 }
}
@media (max-width: 560px){

  .dash-content .boxes .box{
      width:100% ;

  }
}
@media (max-width: 500px){

  .top{
      width: 100%;
  }
  nav{
      width: 73px;
      display: none;
  }
  nav.close{
      width: 73px;
      display: block;
  }

  nav .logo_name{
      opacity: 0;
      pointer-events: none;
  }
  nav.close .logo_name{
      opacity: 0;
      pointer-events: none;
  }

  nav li a .link-name{
      opacity: 0;
      pointer-events: none;
  }
  nav.close li a .link-name{
      opacity: 0;
      pointer-events: none;
  }

  nav ~ .dashboard{
      left: 10px;
      width: calc(100% - 20px);
  }
  nav.close ~ .dashboard{
      left: 73px;
      width: calc(100% - 73px);
  }

  nav ~ .dashboard .top {
      left: 73px;
      width: calc(100% - 73px);
  }
  nav.close ~ .dashboard .top {
      left: 73px;
      width: calc(100% - 73px);
  }


  nav ~ .dashboard .top{
      left: 8px;
      width: calc(100% - 20px);
  }
}

.warning{
 margin: 1px;
}
 



